body {
    min-width: 688px;
    margin: 0;
    padding: 0;
    font-family: 'Pretendard', sans-serif;
    background-color: #181818;
    color: #ffffff;
}

button {
    font-family: 'Pretendard', sans-serif;
}

.profile-page {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-header {
    width:688px;
    height:178px;
    margin: 81px auto;
    border-radius:16px;
    background-color: #1C1D1D;
}

.profile-container{
    width: 431px;
    height: 114px;
    display: flex;
    margin:0;
    padding-top:32px;
    padding-left:32px;
}
.profile-picture {
    position: relative;
    width: 114px;
    height: 114px;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid #fff;
    object-fit: cover;
}

.profile-info {
    width:277px;
    height: 79px;
    margin-left:40px;
    margin-top:17px;
}

.profile-info h2 {
    margin: 0;
    font-size: 32px;
    font-weight: 500;
    line-height: 38.19px;
    letter-spacing: -1.28px;
}

.profile-info p {
    width:100%;
    height: 33px;
    margin: 9px 0;
    font-size:20px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 23.87px;
    letter-spacing:-0.8px;
}

.profile-info-edit {
    width: 86px;
    height: 33px;
    border-radius: 8px;
    border: none;
    margin-left: auto;
    padding: 8px 12px;
    background-color: #000000B2;
    color: white;
    font-size:14px;
    font-weight: 500;
    letter-spacing:-0.56px;
}

.profile-info-edit:hover {
    background-color: #8080804D;
}

.menu-carousel {
    width: 688px;
    margin-top: 49px;
    margin-bottom: 200px;
    height: auto;
}

.carousel-view {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    transition: height 0.3s ease-in-out;
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide {
    height: 100%;
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #181818;
    border-radius: 10px;
}

.menu-navigation {
    width: 688px;
    height: 54px;
    margin-top: -30px;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    background-color: #242525;
}

.menu-navigation button {
    width: 161px;
    height: 38px;
    padding: 0;
    border: none;
    border-radius: 8px;
    background-color: transparent;
    color: #A8AAAB;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.09px;
    letter-spacing: -0.64px;
}

.menu-navigation .active-menu {
    background-color: #383939;
    color: #F3F5F6;
}

.menu-separator {
    font-size: 30px;
    font-weight: 200;
    color: #5152534D;
}


