.mybar-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.add-drink-button {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  padding: 16px 32px;
  border-radius: 16px;
  border: 1px solid var(--grayscale-gray500, #727475);
  color: var(--grayscale-gray200, #c8cacb);
  background: transparent;
  font-family: Pretendard, sans-serif;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease, border 0.3s ease;
}

.add-drink-button:hover {
  border: 1px solid var(--grayscale-gray500, #727475);
  background: var(--grayscale-gray100, #e2e4e6);
  color: var(--grayscale-gray1000, #161616);
}

.add-drink-button:hover {
  border: 1px solid var(--grayscale-gray500, #727475);
  background: var(--grayscale-gray100, #e2e4e6);
  color: var(--grayscale-gray1000, #161616);
}

.container {
  width: 672px;
  height: 202px;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 0px 2px 0px;
  box-sizing: border-box;
}

.cards {
  display: flex;
  gap: 32px;
}

.separator {
  width: 674px;
  height: 2.5px;
  background: #fff;
  margin-top: 20px;
}
body {
  margin: 0;
  padding: 0;
  width: 100vw; /* 뷰포트 전체 너비 */
  height: 100vh; /* 뷰포트 전체 높이 */
  overflow: hidden; /* 스크롤 제거 */
  background-color: #181818;
  font-family: "Pretendard", sans-serif;
  color: #ffffff;
  box-sizing: border-box; /* 여백 포함하여 크기 계산 */
}
