.my-recipe-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    color: white;
}

.dropdown button {
    background-color: rgba(0,0,0,0);
    border: none;
}

.dropdown {
    width: 180px;
    height: 43px;
    border-radius: 8px;
    padding: 12px 20px;
    font-size: 16px;
    line-height: 19.09px;
    letter-spacing: -0.64px;
    box-sizing: border-box;
}

.dropdown.default {
    background-color: gray;
    border: 1px solid #999999;
    color: #8D8F90;
}

.dropdown.active {
    background-color: #242525;
    border: 1px solid #F3F5F6;
    color: #8D8F90;
}

.dropdown-btn {
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

.dropdown-menu {
    position: absolute;
    top: 40px;
    width: 180px;
    height: 139px;
    background-color: #242525;
    list-style: none;
    margin: 3px 0 0 -20px;
    border-radius: 8px;
    border: 1px solid #F3F5F6;
    box-shadow: 0 4px 10px 2px #00000082;
    width: 140px;
    height: 123px;
    padding: 8px 20px;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 16.71px;
    letter-spacing: -0.56px;
}

.dropdown-item {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #383939;
}

.dropdown-item:hover {
    background: #666;
}



.recipe-list {
    margin-top: 20px;
}

.recipe-card {
    background: #222;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.recipe-header {
    font-size: 0.9em;
    color: #bbb;
}

.recipe-title {
    font-size: 1.2em;
    font-weight: bold;
    margin: 5px 0;
}

.recipe-details {
    display: flex;
    gap: 10px;
}


.feature {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    border-radius: 50%;
    padding: 10px;
    font-size: 12px;
    color: #333;
    min-width: 60px;
    height: 60px;
    text-align: center;
    border: 1px solid #ccc;
}


.recipe-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.view-btn,
.edit-btn {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.view-btn {
    background: #555;
    color: white;
}

.edit-btn {
    background: #777;
    color: white;
}
